{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<div class="centred-block">
{% trans "Are you happy for us to use the data you generate for insect research?" %}
</div>

<div class="centred-block">
{% trans "We will store a unique number on your computer so you can return to the game. We are not collecting any data that could be used to identify players." %}
</div>

<div class="button-row">
  <div class="button"
       onclick="window.location.href='/training/'">
    {% trans "Yes, let's play" %}
  </div>  
  <div class="button"
       onclick="window.location.href='/'">
    {% trans "No, quit" %}
  </div>  
</div>

{% endblock %}
