{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}" />
  <select class="lang-select" name="language" onchange="this.form.submit()">
    {% get_current_language as LANGUAGE_CODE %}
    <option value="en-gb"{% if 'en-gb' == LANGUAGE_CODE %} selected="selected"{% endif %}>
      ENGLISH
    </option>
    <option value="es"{% if 'es' == LANGUAGE_CODE %} selected="selected"{% endif %}>
      ESPAÑOL
    </option>
    <option value="zh"{% if 'zh' == LANGUAGE_CODE %} selected="selected"{% endif %}>
      中文
    </option>
  </select>
</form>

<div class="centred-block">
<h1 style="margin: 0;">{% trans "Cricket Tales" %}</h1>
</div>

<div class="button-row">
  <img src="/media/images/twitch2.gif" style="width: 10wv;">
</div>

<div class="centred-block">
{% trans "Some of us are morning people, others like evenings better. Are insects the same as us?" %}
</div>

<div class="centred-block">
{% trans "Help find out by playing this game!" %}
</div>

<div class="button-row">
  {% if done_training %}
  <button onclick="window.location.href='/choose/'">
  {% else %}
  <button onclick="window.location.href='/check/'">
  {% endif %}
    {% trans "PLAY!" %}
  </button>
  <button onclick="window.location.href='/about/'">
    {% trans "ABOUT THE PROJECT" %}
</div>

<div class="button-row">
  <img src="/media/images/exeter_logo.png" style="width: 20wv; height: auto;">
  <img src="/media/images/logo_cricket.png" style="width: 20wv; height: auto;">
  <img src="/media/images/nerc logo.jpg" style="width: 20wv; height: auto;">
</div>

<div id="iphone" class="ipopup">
  <div class="icontainer">
    {% trans "Oh no! You appear to be using an iPhone." %}<p>
    {% trans "Apologies - due to the way Apple implements videos, Cricket Tales may not work correctly on your device." %}</br>
    <div style="text-align: center;">
    <button onclick="document.getElementById('iphone').style.display = 'none';">Ok</button>
    </div>
  </div>
</div>

<script>
  if (iphone()) {
    document.getElementById("iphone").style.display = "block";
  }
</script>

{% endblock %}
