{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<div class="centred-block">
<h1>{% trans "Cricket Tales" %}</h1>
</div>

<div class="centred-block">
{% trans "Some of us are morning people, others like evenings better." %}
</div>

<div class="centred-block">
{% trans " Are insects the same as us?" %}
</div>

<div class="centred-block">
{% trans "Help find out by playing this game!" %}
</div>

<div class="button-row">
  {% if done_training %}
  <button onclick="window.location.href='/choose/'">
  {% else %}
  <button onclick="window.location.href='/check/'">
  {% endif %}
    {% trans "PLAY!" %}
  </button>
  <button onclick="window.location.href='/about/'">
    {% trans "ABOUT THE PROJECT" %}
</div>
</div>

{% endblock %}
