{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<div class="centred-block">
<h2>{% trans "Well done" %}</h2>
</div>

<div class="centred-block">
{% trans "You have contributed data for" %} {{ num_videos }} {% trans "videos." %}
</div>

<div class="centred-block">
{% trans "Enter your name to appear on the leaderboard:" %}
</div>

<div class="centred-block">
  <h2 style="margin-top: 3vw;"><span id="kb-text">???</span></h2>
</div>

<div class="button-row">
  <button class="small" onclick="kb('Q');">Q</button> 
  <button class="small" onclick="kb('W');">W</button>
  <button class="small" onclick="kb('E');">E</button> 
  <button class="small" onclick="kb('R');">R</button>
  <button class="small" onclick="kb('T');">T</button> 
  <button class="small" onclick="kb('Y');">Y</button>
  <button class="small" onclick="kb('U');">U</button> 
  <button class="small" onclick="kb('I');">I</button>
  <button class="small" onclick="kb('O');">O</button>
  <button class="small" onclick="kb('P');">P</button>  
  <button class="small" onclick="kb_delete();">Del</button> 
</div>
<div class="button-row">
  <button class="small" onclick="kb('A');">A</button> 
  <button class="small" onclick="kb('S');">S</button>
  <button class="small" onclick="kb('D');">D</button> 
  <button class="small" onclick="kb('F');">F</button>
  <button class="small" onclick="kb('G');">G</button> 
  <button class="small" onclick="kb('H');">H</button>
  <button class="small" onclick="kb('J');">J</button> 
  <button class="small" onclick="kb('K');">K</button>
  <button class="small" onclick="kb('L');">L</button>
</div>
<div class="button-row">
  <button class="small" onclick="kb('Z');">Z</button> 
  <button class="small" onclick="kb('X');">X</button>
  <button class="small" onclick="kb('C');">C</button> 
  <button class="small" onclick="kb('V');">V</button>
  <button class="small" onclick="kb('B');">B</button> 
  <button class="small" onclick="kb('N');">N</button>
  <button class="small" onclick="kb('M');">M</button> 
</div>

<div class="button-row">
  <button class="small"
	  onclick="kb_send({{ cricket.id }});">
    {% trans "Continue" %}
  </button>  

</div>

<script>register_csrf("{{ csrf_token }}");</script>
{% endblock %}
