{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<div class="centred-block">
  <h3>{% trans "Leaderboard" %}</h3>
</div>

{% if player_list %}

{% for player in player_list %}
<div class="centred-block">
  {{ player.name }} : {{ player.videos_watched }}
</div>
{% endfor %}

{% endif %}

<div class="button-row">
    <button class="small"
      onclick="window.location.href='/leaderboard/'"> 
      {% trans "Leaderboard" %}
    </button>
    <button class="small"
	    onclick="window.location.href='/personality/{{ cricket.id }}'">
      {% trans "My Cricket" %}
    </button>
    <button class="small"
	    onclick="window.location.href='/choose/'">
      {% trans "Play again" %}
    </button>
    <button class="small"
	    onclick="window.location.href='/'">
	{% trans "Quit" %}
    </button>
</div>

{% endblock %}
