{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<div class="centred-block">
  <h3>{% trans "Leaderboard" %}</h3>
</div>
<div class="leaderboard-column">
  <img src="/media/images/twitch2.gif" style="width: 20vw;">
</div>

{% if player_list %}
<div class="leaderboard-central">

<div style="width: 50%; float:left;">  
  <div class="centered-block"><h4>{% trans "Player" %}</h4></div> 
  {% for player in player_list %}
  <div class="centered-block">{{ player.name }}</div>
  {% endfor %}
</div>

<div style="width: 50%; float:left;">  
  <div class="centered-block"><h4>{% trans "Videos watched" %}</h4></div> 
  {% for player in player_list %}
  <div class="centered-block">{{ player.videos_watched }}</div>
  {% endfor %}
</div>

</div>

{% endif %}

<div class="leaderboard-column">
  <img src="/media/images/twitch.gif" style="width: 20vw;">
</div>

<div class="button-row">

    <button class="small"
	    onclick="window.location.href='/personality/{{ cricket.id }}'">
      {% trans "My Cricket" %}
    </button>
    <button class="small"
	    onclick="window.location.href='/choose/'">
      {% trans "Play again" %}
    </button>
    <button class="small"
	    onclick="window.location.href='/beta/'">
	{% trans "Quit" %}
    </button>
</div>

{% endblock %}
