{% extends "base.html" %}
{% load i18n %}
{% block crickets_stuff %}

<div id="title" class="full-width-centred-block">
  <h3>{% trans "You are watching cricket: " %} {{ cricket.tag }} {% trans " video: " %} <span id="video-num">1/5</span></h3>
</div>
<div class="video-top">
  <div class="video-container">
    <!-- start with first movie, then register the rest at the bottom -->
    <video nocontrols id="ourvideo">
      <source src="{{ MEDIA_URL }}movies/{{ path }}/{{ movies.0.name }}.mp4" type="video/mp4"/>
      <source src="{{ MEDIA_URL }}movies/{{ path }}/{{ movies.0.name }}.ogv" type="video/ogv"/>
      {% trans "I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264." %}
    </video>

    <div id="popup" class="video-popup">
      <span id="popup-text"></span>
    </div>
    
    <div class="timeline-container"><!-- timeline row -->
      <button class="toggle-button play" style="background: url(/media/images/movie_buttons/pause.png); background-size: 100% 100%;" onclick='play_state_toggle()'></button>
      <button class="play" style="background: url(/media/images/movie_buttons/redo.png); background-size: 100% 100%;"
              onclick="restart_click();"></button>
      <div id="timeline" class="timeline bar"><!-- timeline div -->
	<div class="timeline_line"></div>
	<div id="time" class="time tiny_circle"></div>
      </div><!-- end timeline div -->
    </div><!-- end timeline row -->
  </div>  

  <div class="video-button-container">
    <div class="button-container">
      <button class="image" onclick="watching_click('sun');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/sun.png">	  
	{% trans "Sun" %}
      </button>  
      <button class="image" onclick="watching_click('shade');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/cloud.png">	  
	{% trans "Shade" %}
      </button>  
      <button class="image" onclick="watching_click('night');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/night.png">	  
	{% trans "Night" %}
      </button>  
    </div>
    
    <div class="button-container">
      <button class="image" onclick="watching_click('in');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/in.png">	  
	{% trans "In" %}
      </button>  
      <button class="image" onclick="watching_click('mid');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/mid.png">	  
	{% trans "Mid" %}
      </button>  
      <button class="image" onclick="watching_click('out');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/out.png">	  
	{% trans "Out" %}
      </button>  
    </div>

    <div class="centred-block">
      <div class="button-container">
	<button class="image" onclick="watching_click('singing');">
	  <img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/sing.png">	  
	  {% trans "Singing" %}
	</button>  
	<button class="image" onclick="watching_click('eating');">
	  <img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/eat.png">	  
	  {% trans "Eating" %}
	</button>  
      </div>
    </div>

  </div>
</div>

<div class="button-container" style="clear:left; padding-top:0em;">
  {% if done_keyboard %}
  <button class="small"
	  onclick="window.location.href='/personality/{{ cricket.id }}'">
  {% else %}
  <button class="small"
	  onclick="window.location.href='/keyboard/{{ cricket.id }}'">
  {% endif %}
    {% trans "Quit" %}
  </button>  
  <button class="small"
	  onclick="window.location.href='/training/'">
    {% trans "Retrain" %}
  </button>  

</div>

{% for m in movies %}
<script>
  register_movie("{{ m.id }}","{{ m.name }}","{{ m.season }}/{{ m.camera }}");
</script>
{% endfor %}

<script>video_setup(1,"{{ csrf_token }}");</script>

{% endblock %}
